<html>
    <head><title><%= pokemon.name %></title></head>
    <body>
        <h1><%= pokemon.name %></h1>
        <p>ID: <%= pokemon.id %></p>
        <p>Weight: <%= pokemon.weight %></p>
        <img src="<%= pokemon.front_shiny %>"/>
        <img src="<%= pokemon.back_shiny %>"/>
    </body>
</html>